.section-content {
    padding: 20px;
    margin-top: 6%
}

.bg {
    background-color: #f8f9fa;
}

.text-success {
    color: #28a745;
}

.text-danger {
    color: #dc3545;
}

.text-dark {
    color: #343a40;
}

.b {
    font-weight: bold;
}

.btn-outline-primary {
    border-color: #007bff;
    color: #007bff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.form-control {
    border-radius: 0.25rem;
}

.dlist-align dt, .dlist-align dd {
    margin-bottom: 10px;
}

.dlist-align dt {
    float: left;
    width: 70%;
    text-align: left;
}

.dlist-align dd {
    float: right;
    width: 30%;
    text-align: right;
}

.empty-cart {
    text-align: center;
    padding: 50px;
    background-color: #f8f9fa;
    border-radius: 8px;
    margin: 20px 0;
}

.empty-cart h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.empty-cart p {
    font-size: 16px;
    margin-bottom: 30px;
}
