/* .main-content {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 2rem;
} */

.xzoom-container img {
    border-radius: 8px;
    border: 2px solid #cf6308;
}

.xzoom-thumbs img {
    border: 2px solid #ddd;
    margin-right: 5px;
    border-radius: 4px;
}

.xzoom-thumbs img:hover {
    border: 2px solid #cf6308;
}

.product-info-aside {
    padding: 20px;
}

.btn-primary,
.btn-secondary {
    background-color: #cf6308;
    border-color: #cf6308;
}

.btn-primary:hover,
.btn-secondary:hover {
    border-color: #cf6308;
}

.a2a_kit a {
    color: #cf6308;
}

.a2a_kit a:hover {
    color: #cf6308;
}

.audio-player {
    margin-top: 20px;
}

.audio-player audio {
    width: 100%;
    outline: none;
}

/*cart label*/
.position-absolute {
    position: absolute;
    top: -16px;
    right: -8px;
    background-color: red;
    color: white;
    padding: 3px 4px;
    border-radius: 50%;
    font-size: 0.85rem;
    line-height: 1;
}

.nav__link .fa-cart-shopping {
    font-size: 1.5rem;
}

.breadcrumbs {
    margin-top: 2rem;
}

.breadcrumbs a {
    color: #cf6308;
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.loading-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}